{%- assign a = article -%}
{%- liquid
  assign _excerpt = a.excerpt
  if _excerpt == blank
    assign _excerpt = a.content
  endif
  assign words = _excerpt | strip_html | split: ' ' | size
  assign mins  = words | plus: 199 | divided_by: 200
  if mins < 1
    assign mins = 1
  endif
-%}
<div class="nb-related__item">
  <a class="nb-related__link" href="{{ a.url }}" data-analytics-event="related_blog_click" data-hub-slug="{{ hub_slug }}" data-post-slug="{{ a.handle }}">
    {%- if a.image -%}
      <div class="nb-related__media">
        <img
          src="{{ a.image | image_url: width: 960 }}"
          alt="{{ a.image.alt | escape }}"
          width="{{ a.image.width }}"
          height="{{ a.image.height }}"
          loading="lazy">
      </div>
    {%- endif -%}
    <div class="nb-related__body">
      <h3 class="nb-related__title">{{ a.title }}</h3>
      <div class="nb-related__meta">
        {{ a.published_at | date: "%B %-d, %Y" }} · {{ mins }} min read
      </div>
      <p class="nb-related__excerpt">
        {{ _excerpt | strip_html | truncatewords: 36 }}
      </p>
    </div>
  </a>
</div>
