{%- comment -%}
Reusable testimonial card
Expected params: quote, name, title, location, avatar (image), tags (comma string)
{%- endcomment -%}

{%- assign q   = quote    | default: '' -%}
{%- assign n   = name     | default: '' -%}
{%- assign tt  = title    | default: '' -%}
{%- assign loc = location | default: '' -%}
{%- assign av  = avatar -%}
{%- assign tg  = tags     | default: '' -%}

<article class="nb-tcard" data-tags="{{ tg | downcase | replace: ', ', ',' }}">
  <span class="nb-tcard__accent" aria-hidden="true"></span>

  <blockquote class="nb-tcard__quote" data-q>
    {{ q }}
  </blockquote>

  <div class="nb-tcard__meta">
    <div class="nb-tcard__avatar">
      {%- if av -%}
        {{ av
          | image_url: width: 96
          | image_tag: widths: '96', alt: n, class: 'nb-tcard__avatar-img' }}
      {%- endif -%}
    </div>
    <div class="nb-tcard__who">
      {%- if n  != '' -%}<div class="nb-tcard__name">{{ n }}</div>{%- endif -%}
      {%- if tt != '' -%}<div class="nb-tcard__title">{{ tt }}</div>{%- endif -%}
      {%- if loc != '' -%}<div class="nb-tcard__loc">{{ loc }}</div>{%- endif -%}
    </div>
  </div>

  <button class="nb-tcard__more" type="button" data-more hidden>Read full</button>
</article>
