{%- comment -%}
Reusable testimonial card.
Expects: card hash with keys:
- quote, name, title, location, avatar (image object optional), tags (string)
{%- endcomment -%}

{%- assign q   = card.quote    | default: '' -%}
{%- assign n   = card.name     | default: '' -%}
{%- assign tt  = card.title    | default: '' -%}
{%- assign loc = card.location | default: '' -%}
{%- assign av  = card.avatar -%}
{%- assign tags = card.tags | default: '' -%}

<article class="nb-tcard" data-tags="{{ tags | escape }}">
  <span class="nb-tcard__accent" aria-hidden="true"></span>

  <div class="nb-tcard__body">
    {%- if q != '' -%}
      <blockquote class="nb-tcard__quote">“{{ q }}”</blockquote>
    {%- endif -%}

    <div class="nb-tcard__meta">
      {%- if av != blank -%}
        <span class="nb-tcard__avatar">
          {{ av | image_url: width: 96 | image_tag: class: 'nb-tcard__avatar-img', alt: n }}
        </span>
      {%- endif -%}
      <div class="nb-tcard__who">
        {%- if n != '' -%}<div class="nb-tcard__name">{{ n }}</div>{%- endif -%}
        {%- if tt != '' -%}<div class="nb-tcard__title">{{ tt }}</div>{%- endif -%}
        {%- if loc != '' -%}<div class="nb-tcard__loc">{{ loc }}</div>{%- endif -%}
      </div>
    </div>
  </div>
</article>
